In [15]:
import numpy as np
import pandas as pd

In [16]:
sozluk = {"isim":["Ahmet","Mehmet","Cemre"],
         "spor":["yüzme","futbol","futbol"]}

In [17]:
yeniDataFrame = pd.DataFrame(sozluk)

In [18]:
yeniDataFrame

     isim    spor
0   Ahmet   yüzme
1  Mehmet  futbol
2   Cemre  futbol

In [19]:
data = np.random.randn(3,3)

In [20]:
data

array([[-0.13528243, -0.83733612,  0.28529899],
       [ 0.23612716,  0.94168411, -1.36016206],
       [-0.57825789, -0.30492846, -0.43406329]])

In [21]:
benimFrame = pd.DataFrame(data)

In [22]:
benimFrame

          0         1         2
0 -0.135282 -0.837336  0.285299
1  0.236127  0.941684 -1.360162
2 -0.578258 -0.304928 -0.434063

In [23]:
benimFrame = pd.DataFrame(data,index=["Baran","Mert","Fulya","Deniz"],columns=["Hukuk","Hukuk","Pskolog","Pazarlama"])

ValueError: Shape of passed values is (3, 3), indices imply (4, 4)

In [ ]:
AileIsımleri=["Cafer","Fatma","Deniz","Mustafa","Derya","Guzide"]
SoyIsımleri=["Polat","Polat","Polat","Çakmak","Çakmak","Çakmak"]

In [ ]:
birlesmisIndeks = list(zip(AileIsımleri,SoyIsımleri))

In [ ]:
birlesmisIndeks

In [ ]:
benimMeslekYasListem = [[40,"Ogretmen"],[10,"Bankacı"],[30,"Ogrenci"],[9,"Mimar"],[10,"İşsiz"],[11,"Ogrenci"]]

In [ ]:
istenilen_bilgiler = pd.DataFrame(benimMeslekYasListem,index=birlesmisIndeks,columns=["Yas","Meslek"])

In [ ]:
istenilen_bilgiler

In [27]:
havaDurumuVerisi = {"Istanbul":[21,np.nan,25],"Ankara":[13,17,21],"Izmir":[16,21,15]}
havaDurumuDataFrame = pd.DataFrame(havaDurumuVerisi)

In [28]:
havaDurumuDataFrame

   Istanbul  Ankara  Izmir
0      21.0      13     16
1       NaN      17     21
2      25.0      21     15

In [30]:
havaDurumuDataFrame.fillna("?")

  Istanbul  Ankara  Izmir
0     21.0      13     16
1        ?      17     21
2     25.0      21     15

In [31]:
calisanVerisi = {"Departman":["Bilişim","Bilişim","Maliye","Maliye","Raporlama","Raporlama"],
                 "Isim":["Mert","Deniz","Kadir","Cagla","Işık","Emir"],
                "Maas":[20000,16000,13000,13000,16000,23000]}

In [32]:
calısanDataFrame = pd.DataFrame(calisanVerisi)

In [33]:
calısanDataFrame

   Departman   Isim   Maas
0    Bilişim   Mert  20000
1    Bilişim  Deniz  16000
2     Maliye  Kadir  13000
3     Maliye  Cagla  13000
4  Raporlama   Işık  16000
5  Raporlama   Emir  23000

In [38]:
grupDegiseni = calısanDataFrame.groupby("Departman")

In [41]:
grupDegiseni.count()

           Isim  Maas
Departman
Bilişim       2     2
Maliye        2     2
Raporlama     2     2